<?xml version="1.0" encoding="utf-8"?>
<packages>

    <!-- CLI tools -->
    <package id="curl" />
    <package id="git.install" 
        packageParameters="/GitAndUnixToolsOnPath /NoShellIntegration" />
    <package id="git-lfs" />
    <package id="gpg4win" />

    <!-- Fonts and display -->
    <package id="sourcecodepro" />

    <!-- Web browsers -->
    <package id="googlechrome" />
    <package id="firefox-dev" />

    <!-- Dev tools -->
    <package id="vscode" />
    <package id="microsoft-windows-terminal" />
    <package id="gitkraken" />

    <!-- Desktop tools -->
    <package id="7zip.portable" />
    <package id="cpu-z.install" />
    <package id="openvpn" />
    <package id="openssh" />
    <package id="sysinternals" />
    <package id="procexp" />
    <package id="procmon" />
    <package id="windirstat" />

    <!-- Media -->
    <package id="discord" />
    <package id="logitechgaming" />
    <package id="borderlessgaming" />
    <package id="origin" />
    <package id="paint.net" />
    <package id="k-litecodecpackfull" />
    <package id="spotify" />
    <package id="slack" />
    <package id="steam" />

</packages>
