<?xml version="1.0" encoding="utf-8"?>
<packages>

    <!-- CLI tools -->
    <package id="curl" />
    <package id="git.install" 
        packageParameters="/GitAndUnixToolsOnPath /NoShellIntegration" />

    <!-- Fonts and display -->
    <package id="sourcecodepro" />

    <!-- Web browsers -->
    <!-- <package id="firefox-dev" /> -->
    <package id="googlechrome" />

    <!-- Dev tools -->
    <package id="gitkraken" />
    <package id="keybase" />
    <package id="microsoft-windows-terminal" />
    <package id="vscode" />

    <!-- Desktop tools -->
    <package id="7zip.portable" />
    <package id="autoruns" />
    <package id="cpu-z.install" />
    <package id="everything.portable" />
    <package id="f.lux" />
    <package id="googledrive" />
    <package id="office-tool" />
    <package id="paint.net" />
    <package id="procexp" />
    <package id="procmon" />
    <package id="qbittorrent" />
    <package id="sharex" />
    <package id="teracopy" />
    <package id="windirstat" />
    <package id="vlc" />

    <!-- Entertainment -->
    <package id="borderlessgaming" />
    <package id="discord" />
    <package id="origin" />
    <package id="slack" />
    <package id="spotify" />
    <package id="steam" />

</packages>
